<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868123114953-kkq4hloietgqts9t7fnnu18ejh2rse5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868123114953-kkq4hloietgqts9t7fnnu18ejh2rse5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDBBmDLz2PlYR2egUWNc5jJ3BwvANrkwd0</string>
	<key>GCM_SENDER_ID</key>
	<string>868123114953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-delivery-app-ee0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-delivery-app-ee0ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868123114953:ios:ca465826d57d9f0e83bc18</string>
</dict>
</plist>